body {
    background-color: grey;
    height: 100vh;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to left, blue, black);
}

.headtitle {
    color: white;
    font-size: 50px;
    justify-content: center;
}

main {
    margin-top: 30px;
}

#display-weather {
    margin: 0 auto
}